
body {
  background-color: rgb(226, 223, 223);
  margin: 30px;
}




.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

}

.button-create {
  background-color: #008CBA;
}

.button-save {
  display: block;
  width: 100px;
  margin: auto;
}

input {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.task-lists {
  margin-top: 50px;
  display: flex;
}

.task-list {
  width: 30%;
  padding: 20px;
}

.task-list-title {
  text-align: center;
  padding-bottom: 15px;
  font-size: 22px;
}

.task-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.task {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: white;
}

.tasks-loading {
  padding: 20px;
  margin: auto;
  width: 5%;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid blue;
  border-right: 3px solid green;
  border-bottom: 3px solid red;
  border-left: 3px solid pink;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tasks-loading-message {
  margin-top: 20px;
  font-weight: bold;
}