
body {
  background-color: rgb(226, 223, 223);
}

.task-lists {
  display: flex;
}

.task-list {
  margin: 20px;
  width: 30%;
}

.task-list-title {
  text-align: center;
  padding-bottom: 15px;
  font-size: 22px;
}

.task-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.task {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: white;
}